
h1{
    color: #000;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 1px 1px 9px #415be4;
}
.add-container{
    height: 3rem;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 0.4rem;
    
}
.add-container input{
    height: 2.2rem;
    font-size: 0.95rem;
    border: none;
    border-bottom: 3px solid #c4caff;
    border-left: 2px solid #c4caff;
    border-radius: 0.5rem;
}
.add-form{
    display: flex;
    gap: 0.5rem;
    position: relative;
}
.alert{
    display: flex; 
    align-items: center;
    position: absolute;
    top:-3.2rem;
    left: 0;
    font-size: 1.1rem;
    color: #ff0000;
    gap: 0.5rem;
}
.noAlert{
    display: none;
    visibility: hidden;
}
span{
    color: #fff;
    font-size: medium;
    width: 1rem;
    height: 1rem;
    background-color: #ff0000;
    border-radius: 50%;
    text-align: center;
}
.hora{
    width: 3rem;
}
.actividad{
    width: 20rem;
    margin: 1px 7px;
}
button{
    height: 2.4rem;
    width: 5rem;
    font-size:medium;
    background-color: #415be4;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
}
button:hover{
    background-color: #5f76e9 ;
    cursor: pointer;
}
button:active{
    background-color: #3654ed;
}
.container{
    background: linear-gradient(90deg,#c4caff,#eae2fa);
    margin: 2rem auto;
    max-width: 75rem;
    height: 60rem;
    border-radius: 2rem;
    padding: 2rem;
   
}
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista h2{
    width: 48rem;
    text-align: center;
    margin: 1rem 0.4rem;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 0.4rem;
    min-width: 9rem;
}
.lista h3{
    width: 3.9rem;
    margin-left: 0.5rem;
}
.lista button{
    background-color: transparent;
    margin-left: 7px;
    border-color: transparent;
    font-size: 1.1rem;
}
.eliminar{
    color: rgb(239, 12, 12);
}
@keyframes fail-input {
    0%{
    }
    25%{
        
        border-radius: 0.4rem;
        border: 2.5px solid #c4caff
    }  
    50%{
        border: 1.8px solid #ff0000; 
        border-radius: 0.5rem;
        
    }
    100%{
        border: 1.8px solid #ff0000; 
        border-radius: 0.5rem;
    
    }
}