body{
    background: linear-gradient(90deg,#f3edff,#c4caff);
}
div{
    background-color: #fff;
    width: 40rem;
    height: 42rem;
    margin: 2rem auto;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 4.5rem;
    align-items: center;
    position: relative;
}
h2{
    font-size: 2.4rem;
    margin-bottom: 0;
}
.noAlert{
    display: none;
    visibility: hidden;
}
.alert{
    display: flex; 
    align-items: center;
    position: absolute;
    top: 11.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
    color: #ff0000;
    gap: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
span{
    color: #fff;
    font-size: medium;
    width: 1rem;
    height: 1rem;
    background-color: #ff0000;
    border-radius: 50%;
    text-align: center;
}
input{
    width: 28rem;
    height: 2.2rem;
    padding-left: 0.5rem;
    border: none;
    border-bottom: 1.2px solid rgba(172, 172, 172, 0.885);
    font-size: large;
    
}
input::placeholder{
    font-size:large;
    color: rgba(57, 57, 57, 0.769);
    font-weight: bold;
}
input:focus{
    border:  2.8px double #c4caff;
    border-radius: 0.5rem;
    outline: none;
}
button{
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 0.4rem;
    width: 24rem;
    height: 2.8rem;
    background-color: #415be4;
}
button:hover{
    background-color: #5f76e9 ;
    cursor: pointer;
}
button:active{
    background-color: #3654ed;
}

@keyframes fail-input {
    0%{
    }
    25%{
        border: 1.2px solid #000;
        border-radius: 0.4rem;
    }  
    50%{
        border: 1.3px solid #ff0000; 
        border-radius: 0.4rem;
        
    }
    100%{
        border: 1.3px solid #ff0000; 
        border-radius: 0.4rem;
    
    }
}